/* Variables*/

:root {
  --basic-gray1: #333333;
  --basic-gray2: #4F4F4F;
  --basic-gray3: #828282;
  --basic-gray4: #BDBDBD;
  --basic-gray5: #E0E0E0;
  --basic-gray6: #F2F2F2;
  --basic-gray7: #231F20;
  --basic-red: #EB5757;
  --basic-orange: #F2994A;
  --basic-yellow: #F2C94C;
  --basic-green1: #219653;
  --basic-green2: #27AE60;
  --basic-green3: #6FCF97;
  --basic-blue1: #2F80ED;
  --basic-blue2: #2D9CDB;
  --basic-blue3: #56CCF2;
  --basic-purple1: #9B51E0;
  --basic-purple2: #BB6BD9;
  --basic-white: #ffffff;
  --basic-black: #000000;

  --special1: #766357;
  --special2: #81B3D2;
  --special3: #604E43;
  --special4: #503E33;
  --special5: #A9A9A9;
  --special6: #669EC0;
  --special7: #5496BD;
  --special8: #BDBBBC;
  --special9: #EBEBEB;
  --special10: #666666;
  --special11: #e5e5e5;
  --special12: #EEEEEE;
  --special13: #283a42;
}

/*Global*/

body {
  margin:  0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-gray6);
  background-position: top center;
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;
}

.page-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
  background-color: var(--basic-white);
 }

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Main Navigation*/

.main-navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
  margin: 0;
  background-color: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  z-index: 5; 
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
}

/*Site Navigation*/

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
  min-height: 56px;
  list-style: none;
}

.site-navigation.current a:not[href] {
  background-color: var(--basic-gray6);
}

.site-navigation a {
  color: var(--basic-black);
  display: block;
}

.site-navigation li:first-child {
  margin-left: 72px;
}

.site-navigation li:nth-child(2) {
  margin-left: 134px;
}

.site-navigation li:nth-child(3) {
  margin-left: 418px;
}

.site-navigation li:last-child {
  margin-left: 147px;
}

.site-navigation a:hover {
  color: var(--special2);
  background-color: transparent;
}

.site-navigation a:focus {
  color: var(--special2);
  background-color: transparent;  
}

.site-navigation a:active {
  color: var(--basic-black);
  background-color: transparent;
  mix-blend-mode: normal;
  opacity: 0.3;
}

a.current-active {
  color: var(--special1);
}

/*Intro*/

.intro {
  position: relative;
  background-image: url(../img/background-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 27.5%;
  margin-top: 0;
  padding-top: 77px;
  padding-bottom: 73px;
  background-color: var(--basic-gray6);
  text-align: center;
}

.intro::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-image: url(../img/intro-mask.svg);
  height: 57px;
  width: 1200px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 500px;
  font-weight: normal;
  padding: 46px 0 24px;
  line-height: 26px;
  text-align: center;
}

.heading h1 {
  font: inherit;
  max-width: 470px;
  max-height: 80px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 0 28px 28px;
  margin-bottom: 17px;
}

.heading p {
  font: inherit;
  max-width: 519px;
  font-size: 14px;
  max-height: 26px;
  font-weight: normal;
  color: var(--basic-gray1);
}

/* Features*/

.content {
  margin: 0;
  text-align: center;  
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  list-style: none;
}

.features li > p:nth-child(2) {
  margin: 0;
  padding: 10px;
}

.benefits {
  display: flex;
  justify-content: space-around;
}

.benefits p {
  font-weight: normal;
  color: var(--basic-gray1);
}

.nested-list {
  padding-top: 60px;
  padding-bottom: 82px;
  width: 290px;
}

.sub-title {
  font-size: 21px;
  padding: 0 70px 2px;
}

.sub-reasons::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  height: 103px;
}
/*
.home::before {
  background-image: url("../img/icon-1.svg");
}

.food::before {
  background-image: url("../img/icon-3.svg");
}

.souvenir::before {
  background-image: url("../img/icon-2.svg");
}*/

.properties {
  display: flex;
  justify-content: space-around; 
  background-color: var(--special12);
  padding-top: 47px;
  padding-bottom: 54px;
}

.properties p {
  color: var(--basic-gray1);
}

.opportunities {
  display: flex;
}

.feature-item > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.attractions {
  display: flex;
  box-sizing: border-box;
}

.attractions div {
  background-color: var(--special2);
  color: var(--basic-white);
  width: 450px;
  height: auto;
  padding: 50px 49px 51px 50px;
}

.attractions p:first-child {
  margin-bottom: 0;
  padding-bottom: 6px;
}

.info {
  background-color: var(--special2);
  color: var(--basic-white);
  width: 450px;
  height: auto;
  padding: 47px 51px 54px 52px;
}

.feature-item h2,
.feature-item h3 {
  font:inherit;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.feature-item p {
  font:inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

/* Hotels */

/* Filtration */

.filtration {
  background-image: url(../img/background-catalog.jpg);
  background-position: center;
  background-size: auto;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: var(--special13);
  background-clip: border-box;
  margin: 0;
  height: 217px;
}

.filtration-form {
  position: relative;
  display: flex;
  justify-content: start;
  text-align: left;
  color: var(--basic-white);
  padding-top: 27px;
  padding-left: 72px;
}

.filtration-form fieldset {
  display: block;
  width: auto;
  
  padding: 0;
  margin-bottom: 0;

  border: none;
  
}

.filtration-form fieldset:nth-child(2) {
  margin-left: 117px;
}

.filtration-form fieldset:nth-child(3) {
  margin-left: 344px;
}

.filtration-form legend,
.range-title {
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter li {
  margin: 20px 0;
  padding-left: 38px;
}

.housing-type li {
  padding-left: 42px;
}

.filter label {
  position: relative;

  cursor: pointer;
  user-select: none;
}
/*
.checkbox:focus + label {
  outline: 1px solid var(--special2);
}

.checkbox + label::before {
  content: "";

  position: absolute;
  left: -40px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
}

.checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-gray.svg");
}

.checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-gray.svg");
}*/

.catalog-filter-item {
  width: 30%;
  margin-left: auto;
}

.catalog-filter-item legend {
  margin-bottom: 10px;
}
/*
.price-controls {
  position: relative;

  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #fff;
  border-radius: 2px;
}*/
/*
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 33px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .price-min,
.price-controls .price-max {
  width: 90px;
  padding-left: 60px;
}

.price-controls input {
  width: 40px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #fff;
}

.toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
  border: 9px solid #fff;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}*/

.catalog-filter-button {
  position: absolute;
  left: 895px;
  top: 149px;
  display: block;
  margin: 0 auto;
  padding: 6px 30px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;

  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
  color: #000;

  background: #fff;
}

.catalog-filter-button {

  display: block;
  margin: 0 auto;
  padding: 6px 30px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;

  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
  color: #000;

  background: #fff;
}

.filter {
  margin: 0;
  padding: 0;
}
.sorting {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sorting p {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  padding: 0;
  margin-left: 73px;
}

.sorting h3 {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
  margin-left: 65px;
  padding: 0;
}

.sorting-by {
  display: flex;
  justify-content: baseline;
  margin-left: 43px;
}

.link {
  padding: 0;
  margin-right: 32px;
}

.sort-button-container {
display: flex;
justify-items: baseline;
justify-items: center;
align-items: center;
margin-left: auto; 
padding-right: 70px;
}
/*
.sort-button-container a {
  padding: 0;
  margin-left: 2px;
}

.filter .sort-button-container {
  width: 50px;
  margin-left: auto;
}

.sort-button-container a {
  padding-left: 11px;
}

.sort-button-container path,
.sort-button-container a[href]:active path {
  fill: var(--special2);
}

.sort-button-container a[href] path {
  fill: #231F20;
  opacity: 0.3;
}

.sort-button-container a:hover path,
.sort-button-container a:focus path{
  opacity: 1;
}

.sort-button-container a[href].active path {
  fill: var(--special2);
  opacity: 1;
}*/


.sorting a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sorting .link {
  color: var(--basic-black);
  border-bottom: 1px dotted var(--special2) ;
  font-weight: normal;
}

.sorting .link:hover {
  color: var(--special2);
}

.sorting .link:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting .active {
  color: var(--special2);
  text-decoration: none;
}

.sort-button-container .active {
  fill: var(--special2);
}

/*index*/
/*Button Container*/

.hotel-search {
  position: relative;
  text-align: center;
  /*margin-bottom: -120px;*/

}

.hotel-search h2 {
  font: inherit;
  font-style: normal;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  margin-top: 58px;
  margin-bottom: 21px;
}

.hotel-search-info {
  font: inherit;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-gray1);
  margin-bottom: 50px;
}

/*Button*/

.button {
  font: inherit;
  text-align: center;
  font-style: normal;
  font-size: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special1);
  width: 568px;
  height: 86px;
  border: none;
}

.button:hover {
  background-color: var(--special3);
}

.button:focus {
  background-color: var(--special3);
  color: var(--basic-gray6);
  outline: none;
}

.button:active {
  background-color: var(--special4);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Search Form*/


.estimated-check-dates {
  position: relative;

  width: 568px;
  margin: 0 auto;
}

.hotel-search-form {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  
  padding: 55px;
  padding-top: 40px;

  text-align: left; 

  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.hotel-search-form p {
  position: relative;

  margin: 14px 0;

  font-weight: bold;
  color: var(-basic-black);
}

.hotel-search-form label {
  display: inline-block;
  width: 110px;

  vertical-align: middle;
  
  font-weight: bold;
}

.children label {
  width: 60px;
  margin-left: 50px;
}

.hotel-search-form input {
  width: 290px;
  height: 29px;
  padding: 5px 40px 5px 10px;

  font: inherit;
  text-transform: ;

  background-color:var(--basic-gray6);
  border: 2px solid var(--basic-gray6);
}

.hotel-search-form input:hover {
  background-color: var(--special9);
  border: 2px solid var(--special9);
  outline: none;
}

.hotel-search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special11);
  outline: none;
}

.form-button {
  position: absolute;
  top: 3px;
  right: -2px;
  
  width: 40px;
  height: 40px;

  font: inherit;
  font-size: 21px;
  color: var(--special5);

  background-color: transparent;
  border: none;
}

.calendar svg {
  fill-opacity: 0.3;
}

.calendar:hover svg,
.calendar:focus svg {
  fill-opacity: 1;
}

.calendar:active path {
  fill: var(--special2);
}

.visitors input {
  width: 35px;
  padding: 5px 38px;

  text-align: center;
}

.visitors .form-button {
  top: 1px;
  color: rgba(0, 0, 0, 0.3);
}

.decrease {
  left: 112px;
  letter-spacing: -0.06em;
}

.increase {
  right: 1px;
}

.visitors .form-button:hover,
.visitors .form-button:focus {
  color: var(--basic-black);
}

.visitors .form-button:active {
  color:var(--special2);
}

.hotel-search-form .button-search {
  width: 100%;
  height: 58px;
  margin: 0;
  margin-top: 39px;
  padding: 16px;

  background-color: #81b3d2;
}

.sedona-map {
  height: 593px;
  margin: 0;

  overflow: hidden;
}
/*
.sedona-map img {
  min-width: 1200px;
  height: 593px;
  margin-left: 50%;

  transform: translateX(-50%);
}
*/

input::-webkit-input-placeholder {
  color: var(--basic-black);
 } 
 input::-moz-placeholder {
  color: var(--basic-black);
 }

/*Catalog*/

.kind-of-hotels {
  margin-bottom: 5px;
}

body .catalog-page {
  background-color: var(--basic-gray6)
}

.catalog {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--special11);
  padding: 27px 73px 16px 72px;
}

.catalog:last-child {
  border-bottom: 1px solid var(--special11);
}

.hotel-details {
  display: flex;
}

.hotel-photo-gallery img {
  padding-top: 3px;
}

.hotel-info {
  padding-left: 30px;
}

a h3{
  text-align: left;
  margin: 0;
  font: inherit;
  font-style: normal;
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-photo-gallery h3:hover {
  color: var(--special2);
}

.hotel-photo-gallery h3:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.details-container {
  display: flex;
}

.booking-list {
  display: flex;
}

.details-item {
  padding-right: 6px;
}

.accommodation-type {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
  font-weight: normal;
}

.start-price {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
}

.more-details {
  color: var(--basic-white);
  background-color: var(--special2);
  padding: 4px 18px 5px 17px;
  text-decoration: none;
  font-weight: bold;
}

.booking {
  color: var(--basic-white);
  background-color: var(--special1);
  padding: 4px 18px 5px 17px;
  text-decoration: none;
  font-weight: bold;
}

.more-details:hover {
  background-color: var(--special6);
}

.more-details:active {
  background-color: var(--special7);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.booking:hover {
  background-color: var(--special3);
}

.booking:active {
  background-color: var(--special4);
  mix-blend-mode: normal;
  opacity: 0.3;
}

booking-details {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.booking-details span{
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-weight: 21px;
  color: var(--basic-gray1);
}

.user-rating {
  display: inline-block;
  margin-top: 50px;
  margin-left: 2px; 
  padding: 2px 10px 4px 18px;

  color: #666;

  background-color: #f2f2f2;
}

.rating p{
  font-weight: normal;
}

.star-class {
  position: relative;
  width: 115px;

  text-align: right;
}

.star-class i::before {
  content: "";
  top: -15px;
  position: absolute;

  width: 17px;
  height: 17px;

  background: url(../img/star.svg) no-repeat 0 0;
}

.star-class i:last-child::before {
  right: 0;
}

.star-class i:nth-last-child(2n)::before {
  right: 24px;
}

.star-class i:nth-last-child(3n)::before {
  right: 48px;
}

.star-class i:nth-last-child(4n)::before {
  right: 72px;
}

.star-class i:nth-last-child(5n)::before {
  right: 96px;
}

/*Common Part*/
/*Main footer*/

.main-footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 13px 0;
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;

  align-items: center;
}

/*Footer Contacts*/

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}
  
.footer-contacts a:hover {
  color: var(--special2);
  text-decoration: none;
  outline: none;
}

.footer-contacts a:focus {
  text-decoration: none;
  outline-color: var(--special2);
}

.footer-contacts a:active {
  text-decoration: none;
  text-decoration-color: var(--basic-blue1);
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Footer Social*/

.footer-social {
  text-align: center;
  justify-self: center;
  
}

.footer-social ul {
  width: 150px;
  display: flex;
  justify-content: center;

  width: 33.33%;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}
  
/*Social button*/


.social-link li {
  margin: 0;
  margin-right: 6px;
}

.social-link li:last-child {
  margin: 0;
}

.social-link a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 47px;

  background-color: var(--special2);
}

.social-button:hover {
  background-color: var(--special6);
}

.social-button:focus {
  background-color: var(--special6);
  outline: none;
}

.social-button:active {
  background-color: var(--special7);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Footer Copyright*/

.footer-copyright{
  color: var(--basic-gray7);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
 }

.footer-copyright a:hover{
  color: var(--special2);
}

.footer-copyright a:focus {
  background-color: var(--special2);
  outline-color: var(--specia2);
}

.footer-copyright a:active {
  color: var(--special8);
  background-color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.copyright svg {
  width: 125px;
  height: 37px;
  margin-left: 15px;
}

.copyright:hover path,
.copyright:focus path {
  fill: var(--special2);
}

.copyright:active path {
  fill: var(--special8);
}

.footer-copyright span {
  line-height: 40px;
  vertical-align: top;
  font-weight: normal;
}
