/* Variables*/

:root {
  --basic-gray1: #333333;
  --basic-gray2: #4F4F4F;
  --basic-gray3: #828282;
  --basic-gray4: #BDBDBD;
  --basic-gray5: #E0E0E0;
  --basic-gray6: #F2F2F2;
  --basic-gray7: #231F20;
  --basic-red: #EB5757;
  --basic-orange: #F2994A;
  --basic-yellow: #F2C94C;
  --basic-green1: #219653;
  --basic-green2: #27AE60;
  --basic-green3: #6FCF97;
  --basic-blue1: #2F80ED;
  --basic-blue2: #2D9CDB;
  --basic-blue3: #56CCF2;
  --basic-purple1: #9B51E0;
  --basic-purple2: #BB6BD9;
  --basic-white: #ffffff;
  --basic-black: #000000;

  --special1: #766357;
  --special2: #81B3D2;
  --special3: #604E43;
  --special4: #503E33;
  --special5: #A9A9A9;
  --special6: #669EC0;
  --special7: #5496BD;
  --special8: #BDBBBC;
  --special9: #EBEBEB;
  --special10: #666666;
  --special11: #e5e5e5;
}

/*Global*/

body {
  margin:  0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-gray6);
  background-position: top center;
}

.page-body {
  min-height: 100%;
}

.page-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
  background-color: var(--basic-white);
 }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/

.page {
  height: 100%;
}

/*Main Header*/

.main-header {
  margin-bottom: 77px;
}

/*Main Navigation*/

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: inherit;
  color: var(--basic-black);
  background-color: transparent;
  margin-bottom: 77px;  
}

.main-navigation-wrapper {
  width: 100%;
  margin: 0;
  background-color: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
}

/*Site Navigation*/

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0;
  padding: 0;
  min-height: 56px;
  list-style: none;
}

.site-navigation.current a:not[href] {
  background-color: var(--basic-gray6);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--special2);
  background-color: transparent;
}

.site-navigation a:focus {
  color: var(--special2);
  background-color: transparent;  
}

.site-navigation a:active {
  color: var(--basic-black);
  background-color: transparent;
  mix-blend-mode: normal;
  opacity: 0.3;
}

a.current-active {
  color: var(--special1);
}

/*Intro*/

.intro{
  background-color: var(--basic-gray6);
}

.heading {
  font: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 216px;
}

.heading h1 {
  font: inherit;
  max-width: 470px;
  max-height: 80px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.heading p {
  font: inherit;
  max-width: 519px;
  font-size: 14px;
  max-height: 26px;
  font-weight: normal;
  color: var(--basic-gray1);
}
/* Features*/

.features li {
  list-style: none;
}

.features p {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
}

.real-town h2,
.attraction h2 {
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
}

.real-town p,
.attraction p {
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: var(--basic-white);
}

.real-town,
.attraction {
  background-color: var(--special2);
  background-size: 400px 256px;
}

.benefits h3 {
  font: inherit;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.benefits p {
  font-weight: normal;
  color: var(--basic-gray1);
}

.feature-item h2{
  font:inherit;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.feature-item p{
  font:inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-gray1);
}

.filtration li {
  list-style: none;
}

.filtration legend {
  font: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-gray6);
}

.filtration label,
.filtration button {
  font: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-gray6);
}

.filtration button {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  width: 137px;
  height: 36px;
}

.filtration button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting p {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.sorting h3 {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
}

.sorting li{
  list-style: none;
}

.sorting a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sorting .link {
  color: var(--basic-black);
  border-bottom: 1px dotted var(--special2) ;
  font-weight: normal;
}

.sorting .link:hover {
  color: var(--special2);
}

.sorting .link:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting .active {
  color: var(--special2);
  text-decoration: none;
}


.sort-button-container .active {
  fill: var(--special2);
}

/*Button Container*/

.hotel-search h2 {
  font: inherit;
  font-style: normal;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.hotel-search-info {
  font: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: var(--basic-gray1);
}

/*Button*/

.button {
  font: inherit;
  text-align: center;
  font-style: normal;
  font-size: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special1);
  width: 568px;
  height: 86px;
  border: none;
}

.button:hover {
  background-color: var(--special3);
}

.button:focus {
  background-color: var(--special3);
  color: var(--basic-gray6);
  outline: none;
}

.button:active {
  background-color: var(--special4);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Search Form*/

.estimated-check-dates {
  width: 568px;
  height: auto;
  margin: 0 auto;
}

.hotel-search-form {
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.number-of-visitors {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  list-style: none;
}

.number-of-visitors li:first-child {
  padding-left: 20px;
}

.hotel-search-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 55px 0 0;
  list-style: none;
}

.hotel-search-list li  {
  margin-bottom: 30px;
  
}

.hotel-check-in,
.hotel-check-out,
.number-of-adult,
.number-of-children {
  font: inherit;
}

input:focus {
  outline-offset: -2px;
}

.hotel-search-form input[type="text"],
.hotel-search-form input[type="number"] {
  font: inherit;
  font-style: normal;
  padding-left: 15px;
  color: var(--basic-black);
  background-color: var(--basic-gray6);
  border: 2px solid #E5E5E5;
  width: 346px;
  height: 38px;
  border: 0;
}

.hotel-search-form input[type="number"] {
  text-align: center;
  width:114px;
  height: 38px;
  color: var(--basic-black);
}

.hotel-search-form input[type="text"]:hover,
.hotel-search-form input[type="number"]:hover {
  background-color: var(--special9);
}

.hotel-search-form input[type="text"]:focus,
.hotel-search-form input[type="number"]:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.hotel-search-form .button:hover {
  color: var(--basic-black);
}

.hotel-search-form .button:focus {
  color: var(--basic-black);
  outline-color: var(--special2);
}

.hotel-search-form .button:active {
  font-weight: bold;
  color: var(--special2);
}

.search-button {
  font: inherit;
  font-style: normal;
  font-size: 21px;
  font-weight: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special2);
  width: 458px;
  height:58px;
  border: none;
}

.search-button:hover {
  color: var(--basic-white);
  background-color: var(--special6);
}

.search-button:focus {
  color: var(--basic-white);
  background-color: var(--special6);
  outline: none;
}

.search-button:active {
  color: var(--basic-white);
  background-color: var(--special7);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Catalog*/

.kind-of-hotels {
  margin-bottom: 5px;
}

body .catalog-page {
  background-color: var(--basic-gray6)
}

.catalog {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--special11);
  padding: 27px 73px 16px 72px;
}

.catalog:last-child {
  border-bottom: 1px solid var(--special11);
}

.hotel-details {
  display: flex;
}

.images {
  padding-top: 3px;
  padding-right: 30px;
}

a h3{
  text-align: left;
  margin: 0;
  font: inherit;
  font-style: normal;
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-photo-gallery h3:hover {
  color: var(--special2);
}

.hotel-photo-gallery h3:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.details-container {
  display: flex;
}

.booking-list {
  display: flex;
}

.details-item {
  padding-right: 6px;
}

.accommodation-type {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
  font-weight: normal;
}

.start-price {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
}

.more-details {
  color: var(--basic-white);
  background-color: var(--special2);
  padding: 4px 18px 5px 17px;
  text-decoration: none;
  font-weight: bold;
}

.booking {
  color: var(--basic-white);
  background-color: var(--special1);
  padding: 4px 18px 5px 17px;
  text-decoration: none;
  font-weight: bold;
}

.more-details:hover {
  background-color: var(--special6);
}

.more-details:active {
  background-color: var(--special7);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.booking:hover {
  background-color: var(--special3);
}

.booking:active {
  background-color: var(--special4);
  mix-blend-mode: normal;
  opacity: 0.3;
}

booking-details {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.booking-details span{
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-weight: 21px;
  color: var(--basic-gray1);
}

.user-rating{
  padding: 3px 12px 3px 15px;
  background-color: var(--basic-gray6);
  color: var(--special10);
}

.rating p{
  font-weight: normal;
}

/*Main footer*/

.main-footer {
  padding: 23px 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Footer Contacts*/

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: flex-end;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}
  
.footer-contacts a:hover {
  color: var(--special2);
  text-decoration: none;
  outline: none;
}

.footer-contacts a:focus {
  text-decoration: none;
  outline-color: var(--special2);
}

.footer-contacts a:active {
  text-decoration: none;
  text-decoration-color: var(--basic-blue1);
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Footer Social*/

.footer-social {
  text-align: center;
}

.footer-social ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
  
/*Social button*/

.social-button {
  background-color: #81b3d2; 
}

.social-button:hover {
  background-color: var(--special6);
}

.social-button:focus {
  background-color: var(--special6);
  outline: none;
}

.social-button:active {
  background-color: var(--special7);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Footer Copyright*/

.footer-copyright{
  color: var(--basic-gray7);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
 }

.footer-copyright a:hover{
  color: var(--special2);
}

.footer-copyright a:focus {
  background-color: var(--special2);
  outline-color: var(--specia2);
}

.footer-copyright a:active {
  color: var(--special8);
  mix-blend-mode: normal;
  opacity: 0.3;
}
