/* Variables*/

:root {
  --basic-gray1: #333333;
  --basic-gray2: #F2F2F2;
  --basic-gray3: #231F20;
  --basic-blue: #2F80ED;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special1: #766357;
  --special2: #81B3D2;
  --special3: #604E43;
  --special4: #503E33;
  --special5: #A9A9A9;
  --special6: #669EC0;
  --special7: #5496BD;
  --special8: #BDBBBC;
  --special9: #EBEBEB;
  --special10: #666666;
  --special11: #e5e5e5;
  --special12: #EEEEEE;
  --special13: #283a42;
}

/*Global*/

body {
  margin:  0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-gray2);
  background-position: top center;
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;
}

.page-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
  background-color: var(--basic-white);
 }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Main Navigation*/

.main-navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
  margin: 0;
  background-color: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  z-index: 1; 
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
}

/*Site Navigation*/

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: auto;
  margin: 0;
  padding-left: 0;
  min-height: 56px;
  list-style: none;
}

.site-navigation.current a:not[href] {
  background-color: var(--basic-gray2);
}

.site-navigation a {
  display: block;
  box-sizing: border-box;

  width: 98px;

  margin-top: 18px;

  color: var(--basic-black);
}

.site-navigation li:first-child {
  margin-left: 71px;
  margin-top: -1px;
  padding-left: 2px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-left: 129px;
  margin-top: -1px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  margin-left: 405px;
  margin-top: -1px;
  text-align: right;
}

.site-navigation li:last-child {
  margin-left: 129px;
  margin-top: -1px;
  text-align: right;
}

.site-navigation a:hover {
  color: var(--special2);
  background-color: transparent;
}

.site-navigation a:focus {
  color: var(--special2);
  background-color: transparent;  
}

.site-navigation a:active {
  color: var(--basic-black);
  background-color: transparent;
  mix-blend-mode: normal;
  opacity: 0.3;
}

a.current-active {
  color: var(--special1);
}

/*Intro*/

.intro {
  position: relative;
  background-image: url(../img/background-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 27.5%;
  margin-top: 0;
  padding-top: 77px;
  padding-bottom: 76px;
  background-color: var(--basic-gray2);
  text-align: center;
}

.intro::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-image: url(../img/intro-mask.svg);
  height: 57px;
  width: 1200px;
}

.heading {
  width: auto;
  box-sizing: content-box;
  max-height: 216px;
  padding: 27px 3px 51px;
  line-height: 26px;
  text-align: center;
}

.heading h1 {
  font: inherit;
  max-width: 470px;
  max-height: 80px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 0 18px 27px;
  margin-left: 344px;
  margin-bottom: 17px;
}

.heading p {
  font: inherit;
  box-sizing: content-box;
  margin: 0 auto;
  max-height: 80px;
  font-size: 14px;
  max-height: 26px;
  font-weight: normal;
  padding: 0 18px;
  color: var(--basic-gray1);
}

/* Features*/

.content {
  margin: 0;
  text-align: center;  
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  list-style: none;
}

.features li > p:nth-child(2) {
  margin: 0;
  padding: 10px;
}

.feature-item h2,
.feature-item h3 {
  font:inherit;
  font-size: 21px;
  line-height: 21px;
  padding-top: 29px;
  font-weight: bold;
}

.info p:last-child {
  padding: 10px 0 54px;
  
}

.info p {
  font-weight: normal;
}

.opportunities {
  display: flex;
}

.info,
.attractions div {
  background-color: var(--special2);
  color: var(--basic-white);
  width: 534px;
  max-height: 256px;
  padding: 0 42px 0 45px;
}

.benefits {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  min-height: 330px;
  padding: 0;
  margin: 0; 
  
}

.benefits p {
  font-weight: normal;
  color: var(--basic-gray1);
}

.nested-list {
  width: 400px;
  height: auto;
  margin-top: 10px;
  padding-top:  15px;
  
}

.nested-list span {
  font-weight: normal;
  padding: 0;
}
.sub-title {
  font-size: 21px;
  padding: 0 70px 2px;
  margin-bottom: 25px;
}

.sub-reasons::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: px;
  height: 99px;
  
}

.home::before {
  background-image: url("../img/icon-1.svg");
}
h3.home {
  margin-left: -1px;
  margin-top: 5px;
  line-height: 28px;
}

.food::before {
  background-image: url("../img/icon-3.svg");
  background-position: 162px 1px;
}

h3.food {
  margin-top: 5px;
  line-height: 28px;
}

.souvenir::before {
  background-image: url("../img/icon-2.svg");
  
}

h3.souvenir {
  line-height: 31px;
  margin-left: 2px;
  margin-top: 1px;
}

.attractions {
  display: flex;
  
  max-height: 256px;
}

.attractions h2 {
  margin: 20px 11px 25px 11px;
}

.attractions p {
  font-weight: normal;
}

.attractions p:last-child {
  margin: 23px 7px 21px 4px;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  box-sizing: border-box;
  background-color: var(--special12);
  min-height: 256px;
  padding: 1px 47px 0 36px;}

.properties li:nth-child(2) {
  margin-left: 142px;
  margin-top: -1px;
}

.properties li:last-child {
  margin-left: 147px;
  margin-top: -1px;
}

.privileges span {
  margin-left: 0px;
  color: var(--basic-gray1);
  font-weight: normal;
}

.privileges p {
  font:inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-top: 23px;
  padding: 0;
  color: var(--basic-gray1);
  text-align: center;
  
}

.properties .feature-item {
  display: block; 
}

.properties .feature-item:first-child {
  margin-left: 34px;
}

/* Hotels */

/* Filtration */

.filtration {
  background-image: url(../img/background-catalog.jpg);
  background-position: center;
  background-size: auto;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: var(--special13);
  margin: 0;
  min-height: 217px;
}

.filtration-form {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  text-align: left;
  color: var(--basic-white);
  padding-top: 26px;
  padding-left: 72px;
}

.filtration-form fieldset {
  width: auto;
  margin: 0;
  padding:0;

  border: none;
}

.filtration-form fieldset:nth-child(2) {
  margin-left: 117px;
}

.filtration-form legend {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.infrastructure label {
  margin-top: 10px;
}

.filter {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}

.filter li {
  margin: 22px 2px;
  padding-left: 38px;
  padding-bottom: 2px;;
}

.housing-type li {
  margin-left: 2px;
  padding-left: 39px;
}

.housing-type label {
  padding-left: 2px;
  padding-bottom: 1px;
}

.filter label {
  position: relative;

  cursor: pointer;
  user-select: none;
}

.checkbox:focus + label {
  outline: 1px solid var(--special2);
}

.checkbox + label::before {
  content: "";

  position: absolute;
  left: -40px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
}

.checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-gray.svg");
}

.checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-gray.svg");
}

.catalog-filter-item {
  width: 30%;
  margin-left: auto;
}

.catalog-filter-item legend {
  margin-bottom: 10px;
  padding-left: 1px;
}

.price-controls {
  position: relative;

  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: var(--basic-white);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  font-weight: normal;
  line-height: 33px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .price-min {
  width: 90px;
  padding-left: 66px;
}

.price-controls .price-max {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 40px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: var(--basic-white);
}

.toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
  border: 9px solid var(--basic-white);
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}
.range-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 344px;
  font-weight: bold;
}

.catalog-filter-item legend{
  margin-bottom: 10px;
  width: 317px;
}

.catalog-filter-item > label{
  width: 318px;
}

.catalog-filter-button {
  display: block;
  margin-left: 86px;
  padding: 8 36px;

  width: 137px;
  min-height: 36px;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);

  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
  color: var(--basic-black);

  background: var(--basic-white);
}

.filter {
  margin: 9px 0;
  padding-top: 0;
}
.sorting {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sorting p {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  padding: 0;
  margin-left: 73px;
}

.sorting h3 {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
  margin-left: 47px;
  padding-bottom: 6px;
}

.sorting-by {
  display: flex;
  justify-content: baseline;
  box-sizing: border-box;
  margin-left: 41px;
  padding-left: 0;
  padding-bottom: 5px;
}

.link {
  padding: 0;
  margin-right: 32px;
}

.sort-button-container {
display: flex;
justify-items: baseline;
justify-items: center;
align-items: center;
margin-left: auto; 
padding-right: 70px;
}

.sort-button-container a {
  padding: 0;
  margin-left: 2px;
}

.filter .sort-button-container {
  width: 50px;
  margin-left: auto;
}

.sort-button-container a {
  padding-left: 11px;
  padding-top: 4px;
}

.sort-button-container path,
.sort-button-container a[href]:active path {
  fill: var(--special2);
}

.sort-button-container a[href] path {
  fill: #231F20;
  opacity: 0.3;
}

.sort-button-container a:hover path,
.sort-button-container a:focus path{
  opacity: 1;
}

.sort-button-container a[href].active path {
  fill: var(--special2);
  opacity: 1;
}

.sorting a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sorting .link {
  color: var(--basic-black);
  border-bottom: 1px dotted var(--special2) ;
  font-weight: normal;

  opacity: 0.3;
}

.sorting .link:hover {
  color: var(--special2);
}

.sorting .link:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: 1;
}

.sorting .active {
  color: var(--special2);
  text-decoration: none;
}

.sort-button-container .active {
  fill: var(--special2);
}

/*index*/
/*Button Container*/

.hotel-search {
  position: relative;
  text-align: center;
  margin-bottom: -120px;
}

.hotel-search h2 {
  font: inherit;
  font-style: normal;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  margin-top: 56px;
  margin-bottom: 33px;
}

p.hotel-search-info {
  font: inherit;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-gray1);
  margin-bottom: 43px;
  line-height: 1.8em;
}

/*Button*/

.search-hotel-button {
  font: inherit;
  text-align: center;
  font-style: normal;
  font-size: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special1);
  width: 568px;
  height: 86px;
  border: none;
}

.search-hotel-button:hover {
  background-color: var(--special3);
}

.search-hotel-button:focus {
  background-color: var(--special3);
  color: var(--basic-gray2);
  outline: none;
}

.search-hotel-button:active {
  background-color: var(--special4);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Search Form*/


.estimated-check-dates {
  position: relative;
  box-sizing: border-box;

  width: 568px;
  margin: 0 auto;
  z-index: 3;
}

.hotel-search-form {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  
  padding-left: 55px;
  padding-top: 42px;

  text-align: left; 

  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.hotel-search-form p {
  position: relative;

  margin: 10px 0;

  font-weight: bold;
  color: var(-basic-black);
}

.hotel-search-form p:first-child {
  margin-top: 11px;
}

.hotel-search-form p:nth-child(2) {
  margin-top: 20px;
}

.hotel-search-form p:nth-child(3),
.hotel-search-form p:last-child {
  margin-top: 20px;
}


.hotel-search-form label {
  display: inline-block;
  width: 110px;

  vertical-align: middle;
  
  font-weight: bold;
}

.children label {
  width: 60px;
  margin-left: 50px;
}

.hotel-search-form input {
  box-sizing: border-box;

  width: 346px;
  height: 38px;
  padding: 11px 35px 12px 10px;

  font: inherit;
  
  background-color:var(--basic-gray2);
  border: 2px solid var(--basic-gray2);
}

.hotel-search-form input:hover {
  background-color: var(--special9);
  border: 2px solid var(--special9);
  outline: none;
}

.hotel-search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special11);
  outline: none;
}

.form-button {
  position: absolute;
  top: 3px;
  right: 1px;
  
  width: 40px;
  height: 40px;

  font: inherit;
  font-size: 21px;
  color: var(--special5);

  background-color: transparent;
  border: none;
}

.calendar svg {
  fill-opacity: 0.3;
}

.calendar:hover svg,
.calendar:focus svg {
  fill-opacity: 1;
}

.calendar:active path {
  fill: var(--special2);
}

.visitors input {
  box-sizing: border-box;
  width: 114px;
  height: 38px;
  padding: 6px 32px 6px 46px;

  text-align: center;
}

p.visitors {
  margin-top: 19px;
  margin-left: 1px;;
}

.visitors .form-button {
  top: 1px;
  color: rgba(0, 0, 0, 0.3);
}

.decrease {
  left: 112px;
  letter-spacing: -0.06em;
}

.increase {
  right: 1px;
}

.visitors .form-button:hover,
.visitors .form-button:focus {
  color: var(--basic-black);
}

.visitors .form-button:active {
  color:var(--special2);
}

.hotel-search-form .button-search {
  box-sizing: border-box;

  width: 458px;
  height: 58px;

  margin-top: 44px;
  margin-bottom: 55px; 
  padding: 16px;

  background-color: #81b3d2;
}

.sedona-map {
  height: 593px;
  margin: 0;

  overflow: hidden;
}

.sedona-map img {
  min-width: 1200px;
  height: 593px;
  margin-left: 50%;

  transform: translateX(-50%);
}

input::-webkit-input-placeholder {
  color: var(--basic-black);
 } 
input::-moz-placeholder {
  color: var(--basic-black);
 }

/*Catalog*/

.kind-of-hotels {
  margin-bottom: 5px;
}

body .catalog-page {
  background-color: var(--basic-gray2)
}

.catalog {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--special11);
  padding: 27px 73px 16px 72px;
  margin-bottom: 8px;
}

.page-catalog {
  border-bottom: 1px solid var(--special11);
}

.hotel-details {
  display: flex;
}

.hotel-photo-gallery img {
  padding-top: 3px;
}

.hotel-info {
  padding-left: 30px;
}

a.link.active {
  color: var(--special2)
}

.hotel-photo-gallery h3{
  margin: 0;
  
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-photo-gallery h3:hover {
  color: var(--special2);
}

.hotel-photo-gallery h3:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.details-container {
  display: flex;
}

.booking-list {
  display: flex;
  width: auto;
  padding-right: 0;
  margin-top: 0px;
}

.details-item {
  padding-right: 4px;
}

.accommodation-type {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
  font-weight: normal;
}

.start-price {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 17px;
  font-weight: normal;
}

.more-details {
  color: var(--basic-white);
  background-color: var(--special2);
  padding: 4px 18px 5px 17px;
  text-decoration: none;
  font-weight: bold;
}

.booking {
  color: var(--basic-white);
  background-color: var(--special1);
  padding: 4px 18px 5px 17px;
  text-decoration: none;
  font-weight: bold;
}

.more-details:hover {
  background-color: var(--special6);
}

.more-details:active {
  background-color: var(--special7);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.booking:hover {
  background-color: var(--special3);
}

.booking:active {
  background-color: var(--special4);
  mix-blend-mode: normal;
  opacity: 0.3;
}

booking-details {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.booking-details span{
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-weight: 21px;
  color: var(--basic-gray1);
}

.user-rating {
  margin: 0;
  padding: 0 9px 0 12px;

  width: 88px;

  text-align: center;
  font-size: 14px;
  line-height: 27px;
  font-weight: normal;
  color: #666666;

  background-color: #f2f2f2;
}

p.user-rating {
  margin-top: 3px;
}

.user-count {
  margin-left: 0.3em;

  vertical-align: top;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;

  min-height: 90px;

  text-align: right;
  line-height: 0;
  font-size: 0;
}

.star-rate {
  margin-top: 2px;
  margin-bottom: 44px;
    
  height: 17px;
    
  background-image: url(../img/icon-star.svg);
  background-repeat: space, no-repeat;
}

/* Star Rates*/

.five-stars {
  width: 110px;
}

.four-stars {
  width: 90px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 41px;
}

.one-star {
  width: 12px;
}


/*Common Part*/
/*Main footer*/

.main-footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0;
  margin: 0;
  min-height: 120px;

  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  
  text-align: center;
  align-items: center;
  z-index: 3;
}

/*Footer Contacts*/

.footer-contacts {
  width: 400px;
  height: 100%;
  margin: 0;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  padding-left: 74px;
  padding-top: 23px;
  padding-bottom: 0;
}

.footer-contacts p {
  margin-top: 9px;
  margin-left: 0px;
  padding: 0 14px;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
  padding-top: 0px;
  margin-top:0;
  vertical-align: text-bottom;
}

.footer-contacts a:hover {
  color: var(--special2);
  text-decoration: none;
  outline: none;
}

.footer-contacts a:focus {
  text-decoration: none;
  outline-color: var(--special2);
}

.footer-contacts a:active {
  text-decoration: none;
  text-decoration-color: var(--basic-blue);
  color: var(--basic-black);

  mix-blend-mode: normal;
  opacity: 0.3;
}


/*Footer Social*/

.footer-social {
  text-align: center;
  justify-self: center;
  margin: 0 auto;
}

.footer-social ul {
  display: flex;
  justify-content: center;

  width: 33.33%;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}
  
/*Social button*/


.social-link li {
  margin: 0;
  margin-right: 6px;
}

.social-link li:last-child {
  margin: 0;
}

.social-link a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 47px;

  background-color: var(--special2);
}

.social-button:hover {
  background-color: var(--special6);
}

.social-button:focus {
  background-color: var(--special6);
  outline: none;
}

.social-button:active {
  background-color: var(--special7);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Footer Copyright*/

.footer-copyright{
  color: var(--basic-gray3);
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: start;
  padding-top: 3px;
  padding-left: 52px;
 }

.footer-copyright a:hover{
  color: var(--special2);
}

.footer-copyright a:focus {
  outline-color: var(--specia2);
}

.footer-copyright a:active {
  color: var(--special8);
  opacity: 0.3;
}

.copyright svg {
  width: 123px;
  height: 41px;
  margin-left: 6px;
}

.copyright:hover path,
.copyright:focus path {
  fill: var(--special2);
}

.copyright:active path {
  fill: var(--special8);
}

.footer-copyright span {
  line-height: 40px;
  vertical-align: top;
  font-weight: normal;
  margin-left: 13px;
}

.modal-hide {
  display: none;
}

.modal-close {
  -webkit-animation: close 0.5s;
          animation: close 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal-container {
  display: block;
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: -0.9s;
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }

  70% { transform: translateY(30px); }

  90% { transform: translateY(-10px); }

  100% { transform: translateY(0); }
}

.modal-error {
  animation: shake 0.9s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }

  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.sedona-map {
  position: relative;
}

.sedona-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.sedona-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}
